!.mvn/wrapper/maven-wrapper.jar
/schema_rest_db_postgresql.sql
/__target/
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

# Maven
/log/
/target/

# Gradle
!gradle/wrapper
/.gradle/
/app.log*
/schema_rest_db_postgresql.sql
